       body {
           font-family: "Ubuntu Mono", monospace;
           margin: 0 auto;
           background-color: rgb(0, 2, 15);
           border: none;
           color: white;
           padding: 5px;
           display: flex;
           min-height: 100vh;
           flex-direction: column
       }
       
       * {
           box-sizing: border-box;
       }
       
       .card {
           border-radius: 10px;
           box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
           background-color: #ffffff;
           padding: 1px;
           margin: 0 auto;
           border: none;
       }
       
       h1 {
           font-size: 15px;
       }
       
       h2 {
           font-size: 15px;
       }
       
       footer {
           margin: 0 auto;
       }
       
       button {
           margin: 10px 10px;
           color: white;
           background-color: rgba(1, 0, 7, 0.979);
       }
       
       .container {
           position: relative;
           padding: 15px;
           margin: 0 auto;
           width: 600px;
           height: 250px;
           border-radius: 10px;
       }
       
       .left,
       .right,
       .center {
           float: left;
           width: 33%;
           color: white;
           height: 200px;
           text-align: center;
           border: none;
           height: auto;
       }
       
       .left {
           background-color: rgba(25, 144, 241, 0.05);
       }
       
       .right {
           background-color: rgba(25, 144, 241, 0.05);
       }
       
       .center {
           background-color: rgba(25, 144, 241, 0.05);
       }
       
       .container:after {
           clear: both;
       }
       
       #celsius-click,
       #fahrenheit-click {
           font-weight: bold;
           font-size: 20px;
           color: white;
       }
       
       #celsius-click:hover {
           color: rgba(255, 187, 0, 0.959);
           cursor: pointer;
       }
       
       #fahrenheit-click:hover {
           color: rgba(255, 187, 0, 0.959);
           cursor: pointer;
       }
       
       #searchicon:hover {
           cursor: pointer;
       }
       
       .card {
           background-color: rgba(25, 144, 241, 0.2);
           overflow: hidden;
           margin: 0 auto;
       }
       
       #dayforecast .forecast i,
       h1 {
           margin-top: 5px;
       }
       
       video-container {
           position: absolute;
           top: 0%;
           left: 0%;
           height: 100%;
           width: 100%;
           max-width: 500px;
           overflow: hidden;
       }
       
       #myVideo {
           height: 100% !important;
           position: absolute;
           left: 0;
           right: 0;
           top: 0;
           bottom: 0;
           z-index: -1;
           filter: brightness(60%);
       }
       
       footer,
       #sourcecode {
           position: absolute;
           color: gold;
           position: fixed;
           bottom: 0px;
           width: 400px;
           text-align: center;
       }